body {
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}


h1 {
  font-size:  100px;
  align: center;
  color: white;
}

button {
  width: 500px;
  height: 400px;
  font-size: 100;
}
